NODE_ENV=development
PORT=3000

DB_HOST=db
DB_PORT=3306
DB_NAME=evofit_db
DB_USER=evofit_app
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=8h

SPOONACULAR_API_KEY=

SMTP_HOST=smtp.gmail.com
SMTP_USER=
SMTP_PASS=

CORS_ORIGIN=http://localhost:8100
FEATURE_PLAN_SPOONACULAR=true
